body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.circle {
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 200px;
    text-align: center;
    background: #000;
}

.circle-steps {
    height: 60px;
    width: 60px;
    background-color: gray;
    margin: 0 auto;
}
    .circle-steps > h1 {
        line-height: 1.7;
        margin-top: 13px;
    }

    .circle-steps.active {
        background-color: dodgerblue;
    }
#step2{
    display:none;
}
#step3{
    display:none;
}
#prev{
    display:none;
}
#confirm{
    display:none;
}