
@{
    ViewBag.Title = "Dashboard";
    ViewBag.Icon = "<i class='fa fa-dashboard'></i>";
    Layout = "~/Views/Shared/_manage.cshtml";
}
<style>
    
</style>
<section class="col-md-6">
    <div class="col-md-8">
        <h4>Movie sales percentages</h4>
        <div id="chart"></div>
    </div>
    <ul class="chartdata col-md-4" data-pie-id="chart" data-options='{"donut": "true"}'>
        <li data-value="30">Intersteller</li>
        <li data-value="14">Solaris</li>
        <li data-value="8">Wall-e</li>
        <li data-value="11">Moon</li>
        <li data-value="7">Ex Machina</li>
        <li data-value="24">Other</li>
    </ul>
</section>
<section class="col-md-6">
    <div class="col-md-8">
        <h4>booking</h4>
        <div id="my-cool-chart"></div>
    </div>
    <ul  class="chartdata col-md-4" data-pie-id="my-cool-chart" data-options='{"donut": "true"}'>
        <li data-value="36">Pepperoni</li>
        <li data-value="14">Sausage</li>
        <li data-value="8">Cheese</li>
        <li data-value="11">Mushrooms</li>
        <li data-value="7">Chicken</li>
        <li data-value="24">Other</li>
    </ul>

</section>
<script type="text/javascript" src="//cdn.jsdelivr.net/snap.svg/0.1.0/snap.svg-min.js"></script>

<script src="~/Content/Charts.js"></script>
